{% extends "admin/layout.html" %}
{% block content %}

<h2 class="mb-4">Dashboard Overview</h2>

<div class="row g-4">

<div class="col-md-4">
<div class="card card-custom p-4 text-center">
<h4>Total Orders</h4>
<h1>{{ orders_count }}</h1>
</div>
</div>

<div class="col-md-4">
<div class="card card-custom p-4 text-center">
<h4>Total Products</h4>
<h1>{{ products_count }}</h1>
</div>
</div>

<div class="col-md-4">
<div class="card card-custom p-4 text-center">
<h4>Total Users</h4>
<h1>{{ users_count }}</h1>
</div>
</div>

</div>

{% endblock %}