<!DOCTYPE html>
<html>
<head>
<title>Create Admin</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
<style>
        .password-wrapper {
    position: relative;
}

.password-wrapper i {
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;
    color: #777;
}

.password-wrapper i:hover {
    color: #000;
}
</style>
</head>
<body class="bg-dark text-white d-flex justify-content-center align-items-center vh-100">

<div class="card p-4 bg-secondary" style="width:400px;">
<h4>Create Admin (One Time Setup)</h4>
<form method="POST">
<input name="username" class="form-control mb-3" placeholder="Username" required>
<input type="password" name="password" class="form-control mb-3" placeholder="Password" required>
<button class="btn btn-success w-100">Create</button>
</form>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
    const passwordFields = document.querySelectorAll("input[type='password']");

    passwordFields.forEach((field, index) => {

         
        const wrapper = document.createElement("div");
        wrapper.classList.add("password-wrapper");
        field.parentNode.insertBefore(wrapper, field);
        wrapper.appendChild(field);

        
        const icon = document.createElement("i");
        icon.classList.add("bi", "bi-eye");
        icon.id = "toggle-" + index;
        wrapper.appendChild(icon);

        
        icon.addEventListener("click", () => {
            const isHidden = field.type === "password";
            field.type = isHidden ? "text" : "password";
            icon.classList.toggle("bi-eye");
            icon.classList.toggle("bi-eye-slash");
        });
    });
});
</script>
</body>
</html>