{% extends "base.html" %}
{% block content %}
    <h1>Land Rover Defender</h1>
    <ul>
        <li><strong>Alloys</strong></li>
        Available in different sizes
        <li  style="margin-left: 20px;">
            6J 20 inch<br> 8J 20 inch<br> 10J 20inch
        </li>
        <li  style="margin-left: 20px;">
            6J 22inch<br> 8J 22 inch<br> 10J 22inch
        </li>
        <li  style="margin-left: 20px;">
            6J 24 inch<br> 8J 24 inch<br> 10J 24inch
        </li>

        <li><strong>Tyres</strong>   </li>
         <li  style="margin-left: 20px;"> 
           295/110/R20 <br> 310/140/R20<br> 340/170/R20
        </li>
        <li  style="margin-left: 20px;">
            295/140/R22<br> 310/180/R22<br> 340/200/R22
           
        </li>
        <li  style="margin-left: 20px;">
            295/160/R24<br> 310/190/R24<br> 340/220/R24
        </li>

        <li> <strong> Bumper</strong></li>
        <li  style="margin-left: 20px;">
            Hummer<br>proman<br>prad<br>jurna
         </li>
         <li><strong>Stability Kit</strong>   </li>
         <li  style="margin-left: 20px;"> 
            20ps suspension and coilover
        </li> <li  style="margin-left: 20px;"> 
            50ps suspension and coilover
        </li>
        <li  style="margin-left: 20px;"> 
            Fluid suspension and coilover
        </li>
        <li> <strong> Headlight</strong></li>
        <li  style="margin-left:20px;" >
            king khong type <br> Angry Bird<br>Devil eye
        </li>

        <li> <strong>Wrapping</strong></li>
        Any color you can select<br> Example:-Blue with graphics etc
    </ul>
{%endblock%}