{% extends "base.html" %}
{% block content %}

<style>
.reset-wrapper{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:60vh;
}

.reset-card{
    background:#f8f9fa;
    padding:40px;
    border-radius:15px;
    width:420px;
    box-shadow:0 10px 30px rgba(0,0,0,0.1);
    animation:fadeIn .6s ease;
}
</style>

<div class="reset-wrapper">
    <div class="reset-card text-center">

        <h4 class="mb-4">Create New Password</h4>

        <form method="POST">

            <input type="password"
                   name="password"
                   placeholder="New Password"
                   class="form-control mb-3"
                   required>

            <input type="password"
                   name="confirm_password"
                   placeholder="Confirm Password"
                   class="form-control mb-4"
                   required>

            <button class="btn btn-warning w-100">
                Reset Password
            </button>

        </form>

    </div>
</div>

{% endblock %}